*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  
  }
  body{

    background-image: linear-gradient(to right, #434343 0%, black 100%);


  }
  
  .App{
  
  
  /* background-color: yellowgreen;
   */
  }
  h1{
    text-align: center;
    color:wheat ;
  }
  .inputbox{
    /* background-color: whitesmoke; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;

  }

  .input{
 
    /* background-color: violet;  */
 
    width: 60%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

  }

  .input > button {

  background-color: antiquewhite;  
  height: 2rem;
  width: 5rem;
  border: none;
  font-weight:600;
  border-bottom-right-radius: 10px;

  }

input {
  background-color: cadetblue;
  color: wheat;
  font-size:1.3rem;
   border: none;
   outline: none;
   /* background-color: rgb(10, 32, 51); */
   height: 2rem;
   width: 50%;
   border-top-left-radius: 10px;

  }
  .box{

  /* background-color: darkblue; */

  }
  
  .listBox{
    display: flex;
    /* background-color: wheat; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listCard{


    background-color: cornsilk;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;


  }

  .btnBox{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 3rem;
  }
  .btnBox > button {
    height: 2rem;
    border: none;
   max-width: 6rem;    
   font-size: 1.4rem;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;

  }
  @media (max-width: 600px) {

    .listCard{
      width: 90%;
    }
    .input{
      width: 90%;
    }
  }


